
.bodyFav{

    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
   
  
}
.tableFav{

  
}

.ETc {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 900;

}
.ETc1 {
  padding: 1rem 2rem;
 
}

.status {
  border-radius:  0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
}
 .status-pending {
    background-color: #fff0c2;
    color: #a68b00;
  }
   .status-paid {
    background-color: #c8e6c9;
    color:  #388e3c;
  }
    .status-unpaid {
    background-color: #ffcdd2;
    color: #c62828;
  }
.amount {
  text-align: right;
}
.favC:nth-child(even) {
  background-color: #f4f6fb;
 
}

.desForm {
  margin: 0px auto 0px 0%;
}

.botClose {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  color: #fff;

  margin: 10px auto 10px -10%;
  width: 130px;
  height: 50px;
  font-size: 20px;
}

.botClose:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.style {
  color: #fff;
  margin: -300px auto 0px 41%;
  /* position: relative; */
  /* background-color: black; */
  width: 330px;
  text-align: center;
  padding: 25px;
  font-size: 20px;
}

.botClose1:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.botClose1 {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  color: #fff;

  margin: 10px auto 10px 0%;
  width: 130px;
  height: 50px;
  font-size: 20px;
}
